<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem error vero, autem minus quod fugiat necessitatibus cum soluta dignissimos nisi. Labore dolores est sit. Recusandae assumenda tenetur cupiditate iure beatae!</p>
    <p><%= ["hello", "Satyam", "Mishra"][2]%></p>
    <button>Like Me!</button>
</body>
</html>