<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="from">
        <br><br>
        <input type="text" name="to" placeholder="to">
        <br><br>
        <textarea name="msg" placeholder="Write something here!..."></textarea>
        <br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>